---
import videoStudioBlessed from '../assets/videos/studio-blessed.mp4';
---

<section id="about" class="bg-blessed-secondary-light/50">
  <div
    class="container py-12 sm:py-16 sm:px-8 px-6 animate__animated"
    data-animation="left"
  >
    <h2
      class="font-serif text-3xl text-center underline decoration-wavy underline-offset-[10px] decoration-blessed-primary uppercase"
    >
      Sobre Nós
    </h2>

    <div class="grid grid-cols-1 lg:grid-cols-[1fr_420px] gap-12 pt-16">
      <div class="flex gap-4 flex-col text-blessed-black">
        <p
          class="text-balance text-xl/relaxed indent-10 sm:text-left text-center"
        >
          O Studio Blessed nasceu da união de três profissionais apaixonadas
          pela beleza: Caroline, sua irmã e uma amiga. Antes disso, Caroline e
          sua irmã atuavam separadamente, cada uma com seu próprio Studio, mas
          ambas começaram juntas na sala da casa da mãe. Com o tempo, um quarto
          vago nessa mesma casa se tornou o espaço de trabalho individual de
          cada uma delas. Mais tarde, decidiram dar um novo passo e mudaram-se
          para seu primeiro estabelecimento comercial, uma casa alugada que
          transformaram em um verdadeiro Studio de beleza. Foi nesse período que
          conheceram a amiga, e juntas decidiram unir forças para criar algo
          maior. Assim, surgiu o
          <em class="font-cursive text-3xl not-italic">Studio Blessed</em>, um
          ambiente pensado para oferecer serviços de qualidade, com atendimento
          personalizado e um toque especial de cuidado e dedicação.
        </p>
        <p
          class="text-balance text-xl/relaxed indent-10 sm:text-left text-center"
        >
          Após um tempo juntas, a sociedade foi dissolvida, e a marca ficou com
          Caroline, que decidiu continuar à frente do Studio. Para dar
          continuidade ao crescimento do negócio, contou com o apoio de seu
          esposo, Daniel Oliveira, que entrou como sócio, assumindo as áreas de
          tecnologia e marketing. Além disso, sua mãe, Maria Cirlandia, passou a
          integrar a equipe como Nail Designer, trazendo ainda mais carinho e
          profissionalismo ao Studio. Hoje, o Studio Blessed segue com a mesma
          essência, oferecendo serviços especializados e um atendimento
          diferenciado. Nosso compromisso é fazer com que cada cliente se sinta
          única, valorizada e bem cuidada, sempre com técnicas modernas e
          produtos de alta qualidade.
        </p>
      </div>
      <div
        class="rounded-xl content-end justify-items-center lg:justify-items-end self-start"
      >
        <video
          width="320"
          height="480"
          class="bg-cover rounded-xl"
          src={videoStudioBlessed}
          autoplay
          muted
          loop></video>
      </div>
    </div>
  </div>
</section>
