---
import { Image } from 'astro:assets';
import logoWhatsapp from '../assets/icons/whatsapp.svg';
---

<section class="fixed right-4 bottom-4 z-10 w-16 flutuant-whatsapp-button">
  <a
    target="_blank"
    href="https://wa.me/5511988880015?text=Ol%C3%A1%21+Gostaria+de+agendar+hor%C3%A1rio"
  >
    <Image src={logoWhatsapp} alt="Whatsapp Logo" />
  </a>
</section>
