---
const links = ['sobre', 'nossa equipe', 'serviços', 'contato'];
import { Image } from 'astro:assets';
import logo from '../assets/images/logo-studio-blessed.svg';
---

<header
  id="header"
  class="container py-8 flex flex-wrap items-center justify-between"
>
  <a href="/">
    <Image class="max-w-20" src={logo} alt="logo Studio Blessed" />
  </a>
  <nav>
    <ul class="flex flex-col sm:flex-row gap-2 text-xl items-center">
      {
        links.map((link) => {
          return (
            <li class="transform-3d">
              <a
                href={'#' + link}
                class="block p-2 capitalize hover:-translate-y-1 transition-transform duration-300 hover:text-blessed-primary"
              >
                {link}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
